{% extends 'base.html' %}
{% load static %}
{% block content%}

  <main class="main-content">
    <!--== Start Page Header Area Wrapper ==-->
    <div class="page-header-area">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <div class="page-header-content">
              <nav class="breadcrumb-area">
                <ul class="breadcrumb">
                  <li><a href="index.html">Home</a></li>
                  <li class="breadcrumb-sep">/</li>
                  <li>Blog</li>
                </ul>
              </nav>
              <h4 class="title">Blog</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--== End Page Header Area Wrapper ==-->

    <!--== Start Blog Area Wrapper ==-->
    <section class="blog-area blog-inner-area">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="row">
              {% for i in blog %}
              <div class="col-12">
                <!--== Start Blog Item ==-->
                <div class="post-item">
                  <div class="inner-content">
                    <div class="thumb">
                      <a href="{% url 'blog-single_url' i.pk %}">
                        <img class="w-100" src="{{ i.img.url }}" alt="Image-HasTech">
                      </a>
                    </div>
                    <div class="content">
                      <h4 class="title"><a href="{% url 'blog-single_url' i.pk %}">{{ i.title }}</a></h4>
                      <ul class="meta">
                        <li><span>post by: </span><a class="author" href="blog.html">{{ i.name }}</a></li>
                        <li><span> {{ i.data }}</span></li>
                      </ul>
                      <p>{{ i.description }}</p>
                      <a class="btn-theme" href="{% url 'blog-single_url' i.pk %}">Read more</a>
                    </div>
                  </div>
                </div>
                <!--== End Blog Item ==-->
              </div>
              {% endfor %}
            </div>
            <!--== Start Pagination Wrap ==-->
            <div class="row">
              <div class="col-12">
                <div class="pagination-content-wrap border-top mb-0">
                  <nav class="pagination-nav">
                    <ul class="pagination justify-content-center">
                            <li><a class="disabled active prev" href="shop.html">Prev</a></li>
                            <li><a class="disabled active" href="shop.html">1</a></li>
                            <li><a href="shop.html">2</a></li>
                            <li><a class="next" href="shop.html">Next</a></li>
                          </ul>
                  </nav>
                </div>
              </div>
            </div>
            <!--== End Pagination Wrap ==-->
          </div>
          <div class="col-lg-4">
            <!--== Start Sidebar Area ==-->
            <div class="sidebar-area inner-left-padding">
              <div class="widget-item">
                <div class="widget-title">
                  <h3 class="title">Search Here</h3>
                </div>
                <div class="widget-body">
                  <div class="widget-search-box">
                    <form action="#" method="post">
                      <div class="form-input-item">
                        <label for="search2" class="sr-only">Keywords here</label>
                        <input type="search" id="search2" placeholder="Search Your Article">
                        <button type="submit" class="btn-src">
                          <i class="fa fa-search"></i>
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="widget-item">
                <div class="widget-title">
                  <h3 class="title">Categories</h3>
                </div>
                <div class="widget-body">
                  <div class="widget-categories">
                    <ul>
                      <li><a href="blog.html">Men Fashion<span class="fa fa-angle-double-right"></span></a></li>
                      <li class="active"><a href="blog.html">Women Fashion<span class="fa fa-angle-double-right"></span></a></li>
                      <li><a href="blog.html">Baby Fashion<span class="fa fa-angle-double-right"></span></a></li>
                      <li><a href="blog.html">Fashion Shop<span class="fa fa-angle-double-right"></span></a></li>
                      <li><a href="blog.html">New Collection<span class="fa fa-angle-double-right"></span></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="widget-item">
                <div class="widget-title">
                  <h3 class="title">Recent Post</h3>
                </div>
                <div class="widget-body">
                  {% for x in blog %}
                  <div class="widget-blog-post">
                    <ul>
                      <li>
                        <div class="thumb">
                          <a href="{% url 'blog-single_url' x.pk %}"><img src="{{ x.img.url }}" alt="Image-HasTech"></a>
                        </div>
                        <div class="content">
                          <span>{{ x.data }}</span>
                          <h4><a href="{% url 'blog-single_url' x.pk %}">{{ x.name }}</a></h4>
                        </div>
                      </li>
                    </ul>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
            <!--== End Sidebar Area ==-->
          </div>
        </div>
      </div>
    </section>
    <!--== End Blog Area Wrapper ==-->
  </main>
{% endblock %}