{% extends 'base.html' %}
{% load static %}
{% block content%}

  <main class="main-content">
    <!--== Start Hero Area Wrapper ==-->
    <section class="home-slider-area">
      <div class="swiper-container swiper-slide-gap home-slider-container default-slider-container">
        <div class="swiper-wrapper home-slider-wrapper slider-default">
          {% for i in banner %}
          <div class="swiper-slide">
            <div class="slider-content-area" data-bg-img="{{ i.img.url }}">
              <div class="slider-content">
                <h4>{{ i.title }}</h4>
                <p>{{ i.desciption }}</p>
                <a class="btn-slider" href="shop.html">Shop Now</a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>

        <!--== Add Swiper Arrows ==-->
        <div class="swiper-button-next"><i class="ion-ios7-arrow-right"></i></div>
        <div class="swiper-button-prev"><i class="ion-ios7-arrow-left"></i></div>
      </div>
    </section>
    <!--== End Hero Area Wrapper ==-->

    <!--== Start Feature Area Wrapper ==-->
    <section class="feature-area">
      <div class="container pb-1">
        <div class="row">
          {% for i in service %}
          <div class="col-md-6 col-lg-4">
            <!--== Start Feature Item ==-->
            <div class="feature-icon-box">
              <div class="inner-content">
                <div class="icon-box">
                  <i class="icon ei ei-icon_pin_alt"></i>
                </div>
                <div class="content">
                  <h5 class="title">{{ i.title }}</h5>
                  <p>{{ i.desciption }}</p>
                </div>
              </div>
            </div>
            <!--== End Feature Item ==-->
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
    <!--== End Feature Area Wrapper ==-->

    <!--== Start Product Area Wrapper ==-->
    <section class="product-area">
      <div class="container product-pb" data-padding-bottom="25">
        <div class="row">
          <div class="col-12">
            <div class="product-category-tab-wrap">
              <ul class="nav nav-tabs product-category-nav justify-content-center" id="myTab" role="tablist">
                {% for i in categories %}
                {% if i.id %}
                <li class="nav-item" role="presentation">
                  <button class="nav-link " href="{% url 'filter_by_product_url' i.pk %}" id="most-view-tab" data-bs-toggle="tab" data-bs-target="#mostView" type="button" role="tab" aria-controls="mostView" aria-selected="true">{{ i.name }}</button>
                </li>
                {% else %}
                <li class="nav-item" role="presentation">
                  <button class="nav-link" href="{% url 'filter_by_product_url' i.pk %}" id="most-view-tab" data-bs-toggle="tab" data-bs-target="#mostView" type="button" role="tab" aria-controls="mostView" aria-selected="false">{{ i.name }}</button>
                </li>
                {% endif %}
                {% endfor %}
              </ul>
              <div class="tab-content product-category-content" id="myTabContent">
                <div class="tab-pane fade show active" id="bestSeller" role="tabpanel" aria-labelledby="best-seller-tab">
                  <div class="row">
                    <div class="col-12">
                      <div class="swiper-container swiper-slide-gap product-slider-container">
                        <div class="swiper-wrapper">
                          {% for i in active_products %}
                          <div class="swiper-slide">
                            <!--== Start Shop Item ==-->
                            <div class="product-item">
                              <div class="inner-content">
                                <div class="product-thumb">
                                  <a href="single-product-simple.html">
                                    <img class="w-100" src="{{ i.img.url }}" alt="Image-HasTech">
                                  </a>
                                  <span class="sale-title sticker">Sale</span>
                                  <span class="percent-count sticker">{{ i.is_sale }}</span>
                                  <div class="product-action">
                                    <div class="addto-wrap">
                                      <a class="add-cart" href="cart.html">
                                        <i class="zmdi zmdi-shopping-cart-plus icon"></i>
                                      </a>
                                      <a class="add-wishlist" href="wishlist.html">
                                        <i class="zmdi zmdi-favorite-outline zmdi-hc-fw icon"></i>
                                      </a>
                                      <a class="add-quick-view" href="javascript:void(0);">
                                        <i class="zmdi zmdi-search icon"></i>
                                      </a>
                                    </div>
                                  </div>
                                </div>
                                <div class="product-desc">
                                  <div class="product-info">
                                    <h4 class="title"><a href="single-product-simple.html">{{ i.name }}</a></h4>
                                    <div class="star-content">
                                      <i class="fa fa-star"></i>
                                      <i class="fa fa-star"></i>
                                      <i class="fa fa-star"></i>
                                      <i class="fa fa-star"></i>
                                      <i class="fa fa-star-o"></i>
                                    </div>
                                    <div class="prices">
                                      <span class="price">{{ i.price }}</span>
                                      <span class="price-old">{{ i.old_cost }}</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          {% endfor %}
                        </div>

                        <!--== Add Swiper navigation Buttons ==-->
                        <div class="swiper-button-prev"><i class="ei ei-icon_arrow_carrot-left"></i></div>
                        <div class="swiper-button-next"><i class="ei ei-icon_arrow_carrot-right"></i></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="mostView" role="tabpanel" aria-labelledby="most-view-tab">
                  <div class="row">
                    <div class="col-sm-6 col-lg-4 col-xl-3">
                      <!--== Start Shop Item ==-->
                      {% for i in active_product %}
                      <div class="product-item">
                        <div class="inner-content">
                          <div class="product-thumb">
                            <a href="single-product-simple.html">
                              <img class="w-100" src="{{ i.img.url }}" alt="Image-HasTech">
                            </a>
                            <div class="product-action">
                              <div class="addto-wrap">
                                <a class="add-cart" href="cart.html">
                                  <i class="zmdi zmdi-shopping-cart-plus icon"></i>
                                </a>
                                <a class="add-wishlist" href="wishlist.html">
                                  <i class="zmdi zmdi-favorite-outline zmdi-hc-fw icon"></i>
                                </a>
                                <a class="add-quick-view" href="javascript:void(0);">
                                  <i class="zmdi zmdi-search icon"></i>
                                </a>
                              </div>
                            </div>
                          </div>
                          <div class="product-desc">
                            <div class="product-info">
                              <h4 class="title"><a href="single-product-simple.html">{{ i.name }}</a></h4>
                              <div class="star-content">
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                              </div>
                              <div class="prices">
                                <span class="price">{{ i.price }}</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      {% endfor %}
                      <!--== End Shop Item ==-->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End Product Area Wrapper ==-->

    <!--== Start Single Banner Wrapper ==-->
    <section>
      <div class="container pt-0 pb-0">
        <div class="row">
          {% for i in img %}
          <div class="col-sm-6">
            <!--== Start Single Banner Item ==-->
            <div class="single-banner-image">
              <a href="shop.html">
                <img class="w-100" src="{{ i.img.url }}" alt="Image-HasTech">
              </a>
            </div>
            <!--== End Single Banner Item ==-->
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
    <!--== End Single Banner Wrapper ==-->

    <!--== Start Product Area Wrapper ==-->
    <section class="product-area product-new-arrivals-area">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 m-auto">
            <div class="section-title text-center">
              <h2 class="title">New Arrivals</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="swiper-container swiper-slide-gap product-slider-container">
              <div class="swiper-wrapper">
                {% for i in pro %}
                <div class="swiper-slide">
                  <!--== Start Shop Item ==-->
                  <div class="product-item">
                    <div class="inner-content">
                      <div class="product-thumb">
                        <a href="single-product-simple.html">
                          <img class="w-100" src="{{ i.img.url }}" alt="Image-HasTech">
                        </a>
                        <span class="sale-title sticker">Sale</span>
                        <span class="percent-count sticker">{{ i.is_sale }}</span>
                        <div class="product-action">
                          <div class="addto-wrap">
                            <a class="add-cart" href="cart.html">
                              <i class="zmdi zmdi-shopping-cart-plus icon"></i>
                            </a>
                            <a class="add-wishlist" href="wishlist.html">
                              <i class="zmdi zmdi-favorite-outline zmdi-hc-fw icon"></i>
                            </a>
                            <a class="add-quick-view" href="javascript:void(0);">
                              <i class="zmdi zmdi-search icon"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                      <div class="product-desc">
                        <div class="product-info">
                          <h4 class="title"><a href="single-product-simple.html">{{ i.name }}</a></h4>
                          <div class="star-content">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                          </div>
                          <div class="prices">
                            <span class="price">{{ i.price }}</span>
                            <span class="price-old">{{ i.old_cost }}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--== End Shop Item ==-->
                </div>
                {% endfor %}
              </div>

              <!--== Add Swiper navigation Buttons ==-->
              <div class="swiper-button-prev"><i class="ei ei-icon_arrow_carrot-left"></i></div>
              <div class="swiper-button-next"><i class="ei ei-icon_arrow_carrot-right"></i></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End Product Area Wrapper ==-->

    <!--== Start Brand Logo Area Wrapper ==-->
    <section class="brand-logo-area">
      <div class="container pt-0 pb-0">
        <div class="brand-logo-content">
          <div class="row">
            <div class="col-12">
              <div class="swiper-container swiper-slide-gap brand-logo-slider-container">
                <div class="swiper-wrapper">
                  {% for i in logo  %}
                  <div class="swiper-slide">
                    <!--== Start Brand Logo Item ==-->
                    <div class="brand-logo-item">
                      <a href="{% url 'shop_url' %}"><img src="{{ i.image.url }}" alt="Image-HasTech"></a>
                    </div>
                    <!--== End Brand Logo Item ==-->
                  </div>
                  {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End Brand Logo Area Wrapper ==-->

    <!--== Start Blog Area Wrapper ==-->
    <section class="blog-area">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 m-auto">
            <div class="section-title text-center">
              <h2 class="title">From our blogs</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="swiper-container swiper-slide-gap post-slider-container">
              <div class="swiper-wrapper">
                {% for i in blog %}
                <div class="swiper-slide">
                  <!--== Start Blog Item ==-->
                  <div class="post-item">
                    <div class="inner-content">
                      <div class="thumb">
                        <a href="single-blog.html">
                          <img class="w-100" src="{{ i.img.url }}" alt="Image-HasTech">
                        </a>
                      </div>
                      <div class="content">
                        <ul class="meta">
                          <li><span>post by: </span><a class="author" href="blog.html">{{ i.name }}</a></li>
                          <li><span>{{ i.data }}</span></li>
                        </ul>
                        <h4 class="title"><a href="single-blog.html">{{ i.title }}</a></h4>
                        <p>{{ i.description }}</p>
                        <a class="btn-theme" href="single-blog.html">Read more</a>
                      </div>
                    </div>
                  </div>
                  <!--== End Blog Item ==-->
                </div>
                {% endfor %}
              </div>
              <!--== Add Swiper navigation Buttons ==-->
              <div class="swiper-button-prev"><i class="ei ei-icon_arrow_carrot-left"></i></div>
              <div class="swiper-button-next"><i class="ei ei-icon_arrow_carrot-right"></i></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End Blog Area Wrapper ==-->
  </main>

{% endblock %}
