{% extends 'base.html' %}
{% load static %}
{% block content%}

  <main class="main-content">
    <!--== Start Page Header Area Wrapper ==-->
    <div class="page-header-area">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <div class="page-header-content">
              <nav class="breadcrumb-area">
                <ul class="breadcrumb">
                  <li><a href="index.html">Home</a></li>
                  <li class="breadcrumb-sep">/</li>
                  <li>Blog Details</li>
                </ul>
              </nav>
              <h4 class="title">Blog Details</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--== End Page Header Area Wrapper ==-->

    <!--== Start Blog Details Area Wrapper ==-->
    <section class="blog-details-area">
      <div class="container">
        <div class="row flex-row-reverse">
          <div class="col-lg-8">
            <div class="blog-details-content-wrap">
              <div class="thumb">
                <img src="assets/img/blog/single-01.jpg" alt="Image-HasTech">
              </div>
              <div class="content-info">
                <ul class="meta">
                  <li> post by: Julie demo Admin</li>
                  <li class="post-separator"> | </li>
                  <li> Jan, 25 , 21 </li>
                </ul>
                <h4 class="title">Temporibus autem quibusdam</h4>
              </div>
              <div class="content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <blockquote>Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras que mira su diseño.</blockquote>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
              </div>
              <div class="blog-details-footer">
                <div class="single-post-tag">
                  <span>Tags:</span>
                  <a href="#/">bestselling,</a>
                  <a href="#/">collection,</a>
                  <a href="#/">dress,</a>
                  <a href="#/">fashion,</a>
                  <a href="#/">men,</a>
                  <a href="#/">style,</a>
                  <a href="#/">women</a>
                </div>
                <div class="social-sharing">
                  <h4 class="title">Share this post</h4>
                  <ul class="social-icon">
                    <li><a href="#/"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#/"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#/"><i class="fa fa-pinterest"></i></a></li>
                    <li><a href="#/"><i class="fa fa-google-plus"></i></a></li>
                  </ul>
                </div>
                <div class="article-next-previous">
                  <a href="blog.html">← Older Post</a>
                  <a href="blog.html">Newer Post →</a>
                </div>
              </div>
              <!--== Start Comment View Item ==-->
              <div class="comment-view-area">
                <h4 class="title">4 comments</h4>
                <div class="comment-view-content">
                  <div class="single-comment">
                    <div class="author-wrap">
                      <div class="author-pic">
                        <img src="assets/img/blog/comment.jpg" alt="Image-HasTech">
                      </div>
                      <div class="author-info">
                        <h4 class="title"><a href="blog.html">Elijah</a></h4>
                        <h5 class="sub-title">Sep 30, 2020 at 03:20</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis dicta ea consequuntur veniam unde quam natus corporis atque laboriosam.</p>
                      </div>
                    </div>
                  </div>
                  <div class="single-comment">
                    <div class="author-wrap">
                      <div class="author-pic">
                        <img src="assets/img/blog/comment2.jpg" alt="Image-HasTech">
                      </div>
                      <div class="author-info">
                        <h4 class="title"><a href="blog.html">William</a></h4>
                        <h5 class="sub-title">Sep 30, 2020 at 03:11</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis dicta ea consequuntur veniam unde quam natus corporis atque laboriosam.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--== End Comment View Item ==-->

              <!--== Start Pagination Wrap ==-->
              <div class="row">
                <div class="col-12">
                  <div class="pagination-content-wrap">
                    <nav class="pagination-nav">
                      <ul class="pagination justify-content-center">
                            <li><a class="disabled active prev" href="shop.html">Prev</a></li>
                            <li><a class="disabled active" href="shop.html">1</a></li>
                            <li><a href="shop.html">2</a></li>
                            <li><a class="next" href="shop.html">Next</a></li>
                          </ul>
                    </nav>
                  </div>
                </div>
              </div>
              <!--== End Pagination Wrap ==-->

              <!--== Start Comment Item ==-->
              <div class="comment-form-area">
                <h4 class="title">Leave a comment</h4>
                <p>Your email address will not be published</p>
                <div class="comment-form-content">
                  <form action="#">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label for="for_comment">Comment</label>
                          <textarea id="for_comment" class="form-control" placeholder="Message"></textarea>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="for_name">Name</label>
                          <input id="for_name" class="form-control" type="text" placeholder="Name">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="for_email">Email</label>
                          <input id="for_email" class="form-control" type="email" placeholder="Email">
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-submit-btn">
                          <button type="submit" class="btn-submit">Post comment</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <!--== End Comment Item ==-->
            </div>
          </div>
          <div class="col-lg-4">
            <!--== Start Sidebar Area ==-->
            <div class="sidebar-area inner-left-padding">
              <div class="widget-item">
                <div class="widget-title">
                  <h3 class="title">Search Here</h3>
                </div>
                <div class="widget-body">
                  <div class="widget-search-box">
                    <form action="#" method="post">
                      <div class="form-input-item">
                        <label for="search2" class="sr-only">Keywords here</label>
                        <input type="search" id="search2" placeholder="Search Your Article">
                        <button type="submit" class="btn-src">
                          <i class="fa fa-search"></i>
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="widget-item">
                <div class="widget-title">
                  <h3 class="title">Categories</h3>
                </div>
                <div class="widget-body">
                  <div class="widget-categories">
                    <ul>
                      <li><a href="blog.html">Men Fashion<span class="fa fa-angle-double-right"></span></a></li>
                      <li class="active"><a href="blog.html">Women Fashion<span class="fa fa-angle-double-right"></span></a></li>
                      <li><a href="blog.html">Baby Fashion<span class="fa fa-angle-double-right"></span></a></li>
                      <li><a href="blog.html">Fashion Shop<span class="fa fa-angle-double-right"></span></a></li>
                      <li><a href="blog.html">New Collection<span class="fa fa-angle-double-right"></span></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="widget-item">
                <div class="widget-title">
                  <h3 class="title">Recent Post</h3>
                </div>
                <div class="widget-body">
                  <div class="widget-blog-post">
                    <ul>
                      <li>
                        <div class="thumb">
                          <a href="blog-details.html"><img src="assets/img/blog/s2.jpg" alt="Image-HasTech"></a>
                        </div>
                        <div class="content">
                          <span>24 July, 2022</span>
                          <h4><a href="blog-details.html">Summer Collection for Women 2021</a></h4>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="widget-blog-post">
                    <ul>
                      <li>
                        <div class="thumb">
                          <a href="blog-details.html"><img src="assets/img/blog/s1.jpg" alt="Image-HasTech"></a>
                        </div>
                        <div class="content">
                          <span>24 July, 2022</span>
                          <h4><a href="blog-details.html">Nicholas K Spring 2021 Runway</a></h4>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="widget-blog-post">
                    <ul>
                      <li>
                        <div class="thumb">
                          <a href="blog-details.html"><img src="assets/img/blog/s3.jpg" alt="Image-HasTech"></a>
                        </div>
                        <div class="content">
                          <span>24 July, 2022</span>
                          <h4><a href="blog-details.html">Marc Jacobs Spring 2021 Runway</a></h4>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="widget-item">
                <div class="widget-title">
                  <h3 class="title">Tags</h3>
                </div>
                <div class="widget-body">
                  <div class="widget-tags">
                    <ul>
                      <li><a href="blog.html">bestselling</a></li>
                      <li><a href="blog.html">collection</a></li>
                      <li><a href="blog.html">dress</a></li>
                      <li><a href="blog.html">fashion</a></li>
                      <li><a href="blog.html">men</a></li>
                      <li><a class="mb-0" href="blog.html">women</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!--== End Sidebar Area ==-->
          </div>
        </div>
      </div>
    </section>
    <!--== End Blog Details Area Wrapper ==-->
  </main>

{% endblock %}